body {
    font-family: "Tahoma";
    font-size: 14px;
}

form {
    padding: 10px;
    margin: 0;
    width: 300px;
    border: 1px solid #ccc;
}

input, textarea {
    font-family: Tahoma;
    font-size: 14px;
    width: 100%;
    margin: 5px 0;
}

textarea {
    height: 140px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}